#zhuce{
	text-align: right;
    margin-top: 10px;
    margin-right: 20px;
    color: #696969;
    font-size: 1.2em;
    font-weight: 800;
}
#logo{
    margin: 9% auto;
    width: 30.25%;
    height: 100px;
}
img{
    width: 100%;
}
 div.userName, div.passWord{
    border-bottom: 1px solid #b3b3b3;
    padding:6% 0 6% 3%;
    height: 22%;
    background: #ffffff;
}
 div.userName{
    border-bottom:1;
    /*-webkit-border-top-left-radius: 0.45em;
    -webkit-border-top-right-radius: 0.45em;
    -moz-border-radius-topleft: 0.45em;
    -moz-border-radius-topright: 0.45em;
    border-top-left-radius: 0.45em;
    border-top-right-radius: 0.45em;*/
}
 div.passWord{
    -webkit-border-bottom-left-radius: 0.45em;
    -webkit-border-bottom-right-radius: 0.45em;
    -moz-border-radius-bottomleft: 0.45em;
    -moz-border-radius-bottomright: 0.45em;
    border-bottom-left-radius: 0.45em;
    border-bottom-right-radius: 0.45em;
}
 div.userName input, div.passWord input{
    width: 60%;
    height: 80%;
    border:none;
    background: transparent;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color: #c1c1c1;
    letter-spacing: 1px;
    padding-left: 2px;
}
.choose_box{
    height: 4.5em;
    line-height: 4.5em;
    padding: 0 5px;
    font-weight: 800;
     color: #b3b3b3;
     
}
.choose_box div{
    float: left;
}
.choose_box a{
    float: right;
}
.login_btn{
	margin-top: 80px;
    width: 100%;
    height: 50px;
    display: block;
    padding:3% 0 ;
    background: #222222;
    border: 0;
    font-size: 1.5em;
    font-family: "arial";
    color:#FFFFFF;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-image: -webkit-linear-gradient(left, #6d83f8, #6d83f8,#6d83f8,#6d83f8,#6d83f8); 
    /*-webkit-box-shadow: #8f9bad 0px 0px 20px;
    -moz-box-shadow: #8f9bad 0px 0px 20px;
    box-shadow: #8f9bad 0px 0px 20px;*/
    text-align: center;
}
.other_login{
    width: 80%;
    height: auto;
    position: absolute;
}
.other_login .other_login span{
    display: inline-block;
    vertical-align: middle;
}

.other_login span{
    width:40%;
    font-size: 0.8em;
    letter-spacing:1px;
    color: #909093;
}
.other_choose{
    width: 74%;
    top:83.5%;
    position: absolute;
    margin: 0 13%;
}
.login_bg .other_choose a{
    display: block;
    float: left;
    position: absolute;
}
.other_choose a:nth-child(2) {
    left:42%;
}
.other_choose a:nth-child(3) {
    left:80%;
}
.other_choose a img{
    width: 80%;
    padding: 14% 0;
}
